# Observation Confiuration .yaml


observationParams:
  runLength: 11000
  obsCachePath: /rhino-daq/obs_cache
  dataDirectory: /rhino-daq/data
  optimisedObserving: false
  switchInstructions:
  customName:

sdr:
  active: true
  centreFrequency: 70.0e+6
  bandwidth:  8.0e+6
  nChannels: 4096
  sdrDriver: sdrplay
  sdrLabel: SDRplay Dev0 RSPdx 2302031848
  sdrId: 2302031848
  sampleIntegrationTime: 1
  delay: 600
  sdrGain: 36
  spectrometerMode: pfb
  pfbParams:
    nTaps: 4
    appliedWindow: blackman
  fftParams:
    appliedWindow: Rectangular

auxSdr:
  active: true
  centreFrequency: 70.0e+6
  bandwidth:  8.0e+6
  nChannels: 4096
  sdrDriver: sdrplay
  sdrLabel: SDRplay Dev1 RSP1A 2238063199
  sdrId: 2238063199
  sampleIntegrationTime: 1
  delay: 0
  sdrGain:  36
  spectrometerMode: pfb
  pfbParams:
    nTaps: 4
    appliedWindow: blackman
  fftParams:
    appliedWindow: Rectangular

arduino:
  active: false
  comPort: /dev/ttyACM0
  baudRate: 9600

  temperatureMonitoring:
    active: true
    obsRate: 1
    nProbes: 2
    probeLabels:
    - load_monitoring
    - ambient_monitoring
    unit: celcius
    cadence: 1
  
  switches:
    active: false
    optimisedObserving: false
    cycleLength: 500
    primaryTarget:
    switchTargets:
    - load
    - noisediode
    - longopen
  
switchDictionary:
  vna_short: t1t1e5
  vna_open: t1t1e6
  vna_load: t1t1e7
  vna_receiver: t2t2e8
  vna_ns: t1t1e2
  vna_obsload: t1t1e3
  vna_ant: t1t1e4
  receiver_noisediode: t2t2e2
  receiver_load: t2t2e3
  receiver_antenna: t2t2e4
  receiver_openlong: t2t2e1
  receiver_shortlong: t1t2e1
  receiver_longcomplex: t2t2e7
  receiver_directcomplex: t2t2e8
  load: t1t1e1
  noisediode: t1t2e1
  longopen: t2t1e1

vna:
  active: false
  s11Only: true
  recalibrate: true
  switching: false
  manualCalibration: true # true for manual calibration
  customName: true
  calibrationPath: vna_calibration/vna_calibration.txt # must be set either from exisiting or new
  integrations: 15
  dataPoints: 250 # must be less than 500
  switchInterval: 1
  frequencyRange: # Hz
    - 55.0e+6
    - 85.0e+6 
  switchTargets: # Path to VNA...
     - load
     - noisediode
     - longopen
  calibrationSwitchPaths: # Path from VNA to calibrators if using arduino to switch
    open: vna_open
    short: vna_short
    load: vna_load
    through: empty
    