# Observation Confiuration .yaml


observationParams:
  runLength: 300
  obsCachePath: /rhino-daq/obs_cache
  dataDirectory: /rhino-daq/data
  optimisedObserving: false
  switchInstructions:
  customName:

sdr:
  active: true
  centreFrequency: 70.0e+6
  bandwidth:  8.0e+6
  nChannels: 2048
  sdrDriver: sdrplay
  sdrLabel: SDRplay Dev0 RSPdx 2302031848
  sdrId: 2302031848
  sampleIntegrationTime: 1
  sdrGain:  60
  spectrometerMode: pfb
  pfbParams:
    nTaps: 4
    appliedWindow: blackman
  fftParams:
    appliedWindow: Rectangular

auxSdr:
  active: false
  centreFrequency: 70.0e+6
  bandwidth:  8.0e+6
  nChannels: 4096
  sdrDriver: sdrplay
  sdrLabel: SDRplay Dev1 RSP1A 2238063199
  sdrId: 2238063199
  sampleIntegrationTime: 1
  sdrGain:  36
  spectrometerMode: fft
  pfbParams:
    nTaps: 4
    appliedWindow: blackman
  fftParams:
    appliedWindow: Rectangular

arduino:
  active: true
  comPort: /dev/ttyACM0
  baudRate: 9600

  temperatureMonitoring:
    active: true
    obsRate: 1
    nProbes: 2
    probeLabels:
    - load_monitoring
    - ambient_monitoring
    unit: celcius
    cadence: 1
  
  switches:
    active: true
    optimisedObserving: false
    cycleLength: 60
    primaryTarget:
    switchTargets:
      - receiver_ant
      - receiver_obsload
      - receiver_ns
      - receiver_short
      - receiver_open
  
switchDictionary:
  vna_short: t1t1e5
  vna_open: t1t1e6
  vna_load: t1t1e7
  vna_receiver: t2t2e8
  vna_ns: t1t1e2
  vna_obsload: t1t1e3
  vna_ant: t1t1e4
  receiver_obsload: t2t2e3
  receiver_ns: t2t2e2
  receiver_ant: t2t2e4
  receiver_short: t2t2e5
  receiver_open: t2t2e6
  receiver_load: t2t2e7
  receiver_longcable: t2t2e1

vna:
  active: false
  s11Only: true
  recalibrate: true
  manualCalibration: true # true for manual calibration
  calibrationPath: vna_calibration/vna_calibration # must be set either from exisiting or new
  integrations: 25
  dataPoints: 250 # must be less than 500
  switchInterval: 1
  frequencyRange: # Hz
    - 55e6
    - 85e6 
  switchTargets: # Path to VNA...
     - receiver_ant
     - receiver_obsload
     - receiver_ns
     - receiver_short
     - receiver_open
  calibrationSwitchPaths: # Path from VNA to calibrators if using arduino to switch
    open: vna_open
    short: vna_short
    load: vna_load
    through: empty